<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap"
      rel="stylesheet"
    />
    <!-- ICONS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../static/style.css/" />
    <title>Login</title>
  </head>

  <body>
    <main>
      <section class="login_container">
        <div class="login">
          <span class="circle">
            <span class="material-symbols-outlined"> person </span>
          </span>
          <h3>Login</h3>
          <input type="text" placeholder="Usuario" /><input
            type="passsword"
            placeholder="Contraseña"
          />
          <a href="/dashboard">
            <button>Enviar</button>
          </a>
        </div>
      </section>
    </main>
  </body>
</html>
